bin/audio/svm_models/
essentia/
.vscode/
.DS_Store
__pycache__/

bin/
model/
notes/

.env
.venv
.e_env/
.cache
kaggle.json
*.part
*.ytdl
output.txt


aws_embeddings/ffmpeg
data/playlists/playlists_backup_2025_04_10.db

*.pyc
*.pyo
*.pyd
*.swp
*.bak
*.tmp
*.out
*.pid
*.log
*.vscode
