<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Recommendations</title>
</head>
<body>
    <h1>Music Recommendations</h1>
    <form action="/" method="post">
        <!-- might need to be action ="results.html" -->
        <label for="playlist_url">Enter Playlist URL:</label>
        <input type="text" id="playlist_url" name="playlist_url" required>
        <button type="submit">Get Recommendations</button>
    </form>
</body>
</html>